{{ define "_header "}}
//nolint:gocritic // regexp.MustCompile: solution unknown
package assistant

import (
  "regexp"
  "time"

  "github.com/samber/lo"
  "github.com/snivilised/cobrass/src/assistant/i18n"

  "github.com/spf13/pflag"
)

// ----> auto generated(param-set-binder-helpers-auto/gen-help)
{{ end }}
