{{ define "_header "}}
package assistant_test

import (
  "fmt"
  "net"
  "time"

  . "github.com/onsi/ginkgo/v2"
  . "github.com/onsi/gomega"
  "github.com/spf13/cobra"
  "github.com/spf13/pflag"

  "github.com/snivilised/cobrass/src/assistant"
)

// ----> auto generated(option-validator-auto_test/gen-ov-t)
{{ end }}
