{{ define "_header "}}
package assistant_test

import (
  "fmt"
  "time"

  . "github.com/onsi/ginkgo/v2" //nolint:revive // ginkgo ok
  . "github.com/onsi/gomega" //nolint:revive // gomega ok
  "github.com/spf13/cobra"

  "github.com/snivilised/cobrass/src/assistant"
  "github.com/snivilised/cobrass/src/internal/helpers"
)

// ----> auto generated(param-set-auto_test/gen-ps-t)
{{ end }}
